.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;


  &__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__value {
    width: 220px;
    height: 35px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__count {
    font-size: 16px;
  }
}
