.button {
  background-color: #000;
  color: #fff;
  margin: 10px auto;
  height: 40px;
  padding: 0 20px;
  border: none;
  width: 100%;
  max-width: 200px;
  font-size: 20px;
  font-weight: 500;
  transition: background-color .4s ease-out;
  cursor: pointer;

  &:hover {
    background-color: #242424;
  }
}