.toggler {
  margin-bottom: 20px;

  &__container {
    display: flex;
  }

  &__label {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__item {
    padding: 5px 20px;
    box-sizing: border-box;
    background: #eee;
    cursor: pointer;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &.active {
      background: #ffcc00;
    }
  }
}